.arrival-title {
	text-align: center;
	text-transform: uppercase;
	padding: 2em 0em;
}
.arrival-title h2 {
	font-size: 3rem;
	font-weight: 700;
	color: var(--headingColor);
	margin-top: 0.3em;
}
.arrival-title p {
	font-size: 0.9rem;
	font-weight: 300;
	color: var(--textColor);
}
.arrival-span-container {
	padding: 0.6rem 0;
}
.arrival-span-container span {
	width: 55px;
	height: 1px;
	display: inline-block;
	position: relative;
	background: var(--outlineColor);
}
.arrival-span-container span:before {
	width: 4px;
	height: 1px;
	background: inherit;
	position: absolute;
	content: "";
	top: 0;
	left: -9px;
}
.arrival-span-container span:after {
	width: 4px;
	height: 1px;
	background: inherit;
	position: absolute;
	content: "";
	top: 0;
	right: -9px;
}
.arrival-body {
	/* width: 100%; */
}
.arrival-product-view-container {
	/* width: 100%; */
	margin: 0 auto;
}
.arrival-carousel-hold {
	display: inline;
}
.arrival-product-image-container {
	width: 250px;
}
.arrival-product-image {
	width: 250px;
}
@media (max-width: 768px) {
	.arrival-product-view-container {
		display: block;
	}
	.arrival-product-image-container {
		display: none;
	}
}
