:root {
	--primary: #fff;
	--secondary: #000000;
	--outlineColor: #b8cd05;
	--textColor: #6b6e76;
	--headingColor: #343434;
	--grayIcons: rgb(75, 85, 89);
	--darkgray: #6c757d;
	--gray200: rgb(229 231 235);
	--gray400: rgb(156 163 175);
	--gray700: rgb(55 65 81);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container {
	width: 90%;
	margin: 0 auto;
	padding: 1.5em 1em;
}
